

html,body{
font-family: 'Numans', sans-serif;
}
.loginContainer {
    width: 30%;
    margin: auto;
    margin-top: 10%;
}
@media (max-width: 767px) {
    .loginContainer {
        width: 80%;
    }
}
.loginHeader p {
    font-size: 12px;
    color: #4cddca;
}
.formContainer {
    margin-left: 10%;
}
.loginContainer input {
    border-radius: 20px;
} 
.loginBtn {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.loginBtn button {
    width: 240px;
    padding: 5px;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(90deg, rgba(98,147,172,1) 35%, rgba(68,119,145,1) 100%);
}
.formContainer p {
    text-align: center;
}
.formContainer p a {
    text-decoration: none;
    color: #4cddca;
}
.error {
    color: red;
    text-align: left !important;
    font-size: 11px;
}