.AttendanceContainer {
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

.Box {
  width: 100%;
  height: 600px;
  border: 1px solid #2e6884;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.Card {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 0 3px 0px black;
  border-radius: 9px;
  padding-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.AttendanceTxt {
  font-size: 30px;
  color: #2d6784;
}

.profilePic {
  width: 70px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Name {
  font-size: 15px;
  color: dimgray;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
}
.Title {
  font-size: 12px;
  color: dimgray;
  margin-bottom: 5px;
  cursor: pointer;
}
.Details {
  font-size: 11px;
  color: dimgray;
  margin-bottom: 5px;
  white-space: nowrap;
  cursor: pointer;
}
.noPaddingLeft {
  padding-left: 0 !important;
}

.dropdown {
  position: absolute !important;
  top: 0px;
  right: 0;
}

.test:after {
  content: "\2807";
  font-size: 30px;
  color: #2e6884;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border-color: #2e6884;
  border-bottom: 1px solid #2d6784;
  margin-top: 4px;
}

.form-control,
.input-group-text {
  border: 0px !important;
}

.fa-search {
  color: #2d6784;
}

.dropdownMenuContainer {
  display: inline-flex;
  cursor: pointer;
}

.dropdown-menu {
  min-width: 7rem !important;
  border-radius: 10px;
}

.fa-check-square, 
.fa-trash-alt {
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 5px;
  color: #2d6784;
}

.Check {
  font-size: 15px;
  color: dimgray;
  font-weight: 500;
  margin-bottom: 5px;
  color: #2d6784;
}

.dropdown-menu.show {
  top: -13px !important;
  left: -30px !important;
}
#example-search-input:focus {
outline: none;
-webkit-box-shadow: none;
  box-shadow: none;
}
